# Python
__pycache__/
*.py[cod]
*$py.class
*.so
env/
venv/
.venv/
.uv/

# UV
uv.lock

# IDE
.vscode/
.idea/
*.swp
*.swo


# Env
.env
.env.local

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Data
data/uploads/*
data/processed/*
!data/uploads/.gitkeep
!data/processed/.gitkeep

# Test
tests/test_files/*
!tests/test_files/.gitkeep